@import '../../../scss/3-common-classes.scss';
@import '../../../scss/vars/colors.scss';

.formField {
	width: 100%;
}

.chipList {

	width: 100%;

	mat-icon {
		color: #fff;
	}
	mat-icon {
		opacity: .8;
		&:hover {
			opacity: .9;
		}
	}

	&-item {
		position: relative;

		color: #fff;
		font-weight: 600;

		background-color: #aaa;
		background-size: cover;
		background-repeat: no-repeat;

		img {
			width: auto;
			height: 19px;
			margin-right: 6px;
		}

		* {
			position: relative;
			z-index: 1;
		}

		&:before {
			content: '';
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(#000, .25);

			width: 100%;
			height: 100%;
		}
	}
}
// chipList - end


.autocomplete {

	@extend .clearfix;
	background-color: rgba(#fff, .6);
	border-radius: 4px;
	box-shadow: 0 0 5px 1px rgba(#000, .2);

	height: 300px;
	overflow-y: auto;

	&-title {
		text-transform: capitalize;
		padding: 16px 16px 10px;
		font-size: 19px;
		margin: 0;
		font-weight: 600;
		color: #000;
	}


	&-group {
		margin-bottom: 16px;
	}


	&-items {
		@extend .clearfix;
		margin-bottom: 16px;
	}

	&-item {
		@extend .clearfix;
		padding: 5px 16px;


		&-name {
			@extend .btnReset;
			display: flex;
			align-items: center;
			font-size: 15px;
			padding: 5px;
			border-radius: 50px;

			span {
				margin: 0 10px;
			}

			&:hover {
				background-color: rgba($AppColor, .3);
			}
		}

		&-cover {
			display: inline-block;
			width: 32px;
			height: 32px;
			border: 2px solid #fff;
			border-radius: 50%;
			background-size: cover;
			background-position: center center;
		}

	}

	// &-item - end 

}
// autocomplete - end


.button-close {
	@extend .btnReset;
	position: absolute;
	top: 8px;
	right: 6px;
	opacity: 0.6;
	font-size: 20px;
	color: #555;
	transition: opacity .2s;
	&:hover {
		color: #111;
	}
}

.autocomplete-closeLayer {
	@extend .closeLayer;
	z-index: 100;
}
.formField,
.autocomplete {
	position: relative;
	z-index: 101;
}