<mat-form-field class="formField">

  <mat-chip-list #chipList class="chipList">

    <mat-chip class="chipList-item"
      *ngFor="let autocompleteItem of selectedAutocompleteItems; let i = index"
      [selectable]="matChipSelectable"
      [removable]="matChipRemovable"
      (removed)="removeAutocompleteItem(i)"
      [ngStyle]="{'background-image': autocompleteItem.getCover() ? 'url(' + autocompleteItem.getCover().url + ')' : 'none' }" 
    >
      <img 
        *ngIf="autocompleteItem.getLogo()"
        [src]="autocompleteItem.getLogo().url"
        alt="icon">

      <span>
        {{autocompleteItem.name}}
      </span>


      <mat-icon matChipRemove *ngIf="matChipRemovable">cancel</mat-icon>
    </mat-chip>

    <input
      #autocompleteItemInput
      placeholder="{{_config.placeholder}}"
      [formControl]="autocompleteItemCtrl"
      [matChipInputFor]="chipList"
      (focus)="autocompleteHidden = false"
    />
      <!-- [matAutocomplete]="auto" -->
  </mat-chip-list>

</mat-form-field>


<div class="autocomplete"
  *ngIf="_config.mode == 'autocomplete' && !autocompleteHidden"
>
  autocomplete
</div>


<div class="autocomplete autocomplete--grouped"
  *ngIf="_config.mode == 'groupedAutocomplete' && !autocompleteHidden"
>
  <perfect-scrollbar>
    <mat-icon class="button-close"
      (click)="autocompleteHidden = true"
    >close</mat-icon>

    <div class="autocomplete-group"
      *ngFor="let group of autocompleteGroups; let gi = index"
    >
      <h4 class="autocomplete-title"> {{ group.group.splitName }} </h4>

      <div class="autocomplete-items">
        <div class="autocomplete-item"
          *ngFor="let autocompleteItem of group.page.elements"
        >
          <button class="autocomplete-item-name"
            (click)="selectAutocompleteItem(autocompleteItem)"
          >
            <div class="autocomplete-item-cover"
              *ngIf="autocompleteItem.getCover()"
              [ngStyle]="{'background-image': 'url(' + autocompleteItem.getCover().url + ')'}"
              alt="image"
            ></div>
            <span>
              {{ autocompleteItem.name }}
            </span>
          </button>
        </div>
      </div>

      <app-pagination
        *ngIf="group.page.allNumber > 1"
        [number]="group.page.number"
        [allNumber]="group.page.allNumber"
        (numberChanged)="onPageNumberChangedInGroup($event, group, gi)"
      ></app-pagination>
    </div>

  </perfect-scrollbar>
</div>

<div class="autocomplete-closeLayer"
  [hidden]="autocompleteHidden"
  (click)="autocompleteHidden = true"
></div>
