a { text-decoration: none; }

/* bootstrap-grid */
  .container {
    transition: max-width .4s;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width: 575px) {
    .container {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
/* bootstrap-grid - end */
