@import './vars/common.scss';

/* Basics */
	.clearfix:after {
		content: '';
		display: block;
		width: 100%;
		position: relative;
		clear: both;
	}

	.btnReset {
		border: none;
		outline: none;
		box-shadow: none;
		background-color: transparent;
		cursor: pointer;
	}
/* Basics - end */

/* Positioning */
	.marginTop { margin-top: $standartSize !important }
	.marginTop2x { margin-top: $standartSize * 2 !important }
	.marginBottom { margin-bottom: $standartSize !important }
	.marginBottom2x { margin-bottom: $standartSize * 2 !important }

	.paddingBottom { padding-bottom: $standartSize !important }
	.paddingBottom2x { padding-bottom: $standartSize * 2 !important }

/* Positioning - end */

/* Block Model */
	.fullWidth { width: 100%; }
/* Block Model - end */

/* Text */
/* Text - end */

/* Image */
/* Image - end */

/* Others */
	.closeLayer {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		// background: rgba(0, 0, 0, .3);
		z-index: 0;
	}
/* Others - end */

/* Bootstrap Adds */
	.pullLeft { float: left!important; }
	.pullRight { float: right!important; }
	.rowMinus { /** @bootstrapCss */
		margin-left: -15px !important;
		margin-right: -15px !important;
	}

  // xs - Extra small
  @media (max-width: $sm_width) {
		.hiddenXs {display: none !important }
	}

  // sm - Small
  @media (min-width: $sm_width) and (max-width: $md_width) {
		.hiddenSm {display: none !important }
	}

  // md - Medium
  @media (min-width: $md_width) and (max-width: $lg_width) {
		.hiddenMd {display: none !important }
	}

  // lg - Large
  @media (min-width: $lg_width) and (max-width: $xl_width) {
		.hiddenLg {display: none !important }
	}

  // xl - Extra large
  @media (min-width: $xl_width) {
		.hiddenXl {display: none !important }
	}
/* Bootstrap Adds - end */
