<div class="pagination">
  <button class="pagination-item"
    (click)="prev()"
  > <mat-icon> chevron_left </mat-icon>
  </button>

  <button class="pagination-item"
    *ngFor="let n of getPagesRange()"
    [ngClass]="{'pagination-item--active': n === _number}"
    [disabled]="n === _number"
    (click)="setPage(n)"
  > {{ n }}
  </button>

  <button class="pagination-item"
    (click)="next()"
  > <mat-icon> chevron_right </mat-icon>
  </button>
</div>
