@import '../../../scss/3-common-classes.scss';
@import '../../../scss/vars/colors.scss';

.pagination {
	@extend .clearfix;
	font-size: 16px;

	&-item {
		@extend .btnReset;
		padding-top: 3px;
		float: left;
		width: 50px;
		height: 50px;
		margin: 0 2px;
		text-align: center;
		color: $AppColor;
		border-radius: 50%;

		transition: background-color .2s;

		&:hover {
			background-color: rgba($AppColor, .3);
		}

		&--active {
			background-color: $AppColor !important;
			color: #fff;
			cursor: default;
		}

		mat-icon {
			margin-top: 2px;
		}
	}
}