$redDark: #c0003a;
$red: #d3003d;
$redLight: #ec0047;
$gold: #ffcc80;

/**
 * App Colors
 */
$AppColorDark: $redDark;
$AppColor: $red;
$AppColorLight: $redLight;

$greyDark: #777;
$grey: #ccc;
$greyLight: #f7f7f7;

$black: #3d3d3d;
