/* sizes */
  $standartSize: 15px;

  /**
   *@bootstrapCss
   */
  $xl_width: 1200px;
  $lg_width: 992px;
  $md_width: 768px;
  $sm_width: 576px;
/* sizes - end */

/* box-shadows */
  $boxShadow : 0 0 4px 1px rgba(0,0,0, .15);
/* box-shadows - end */
