/**
 * @info: scroll line sould not contact top border
 */
perfect-scrollbar .ps__rail-y {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	background: transparent !important;
}

/**
 * @info: scroll line sould not contact left border
 */
perfect-scrollbar .ps__rail-x {
	margin-left: 2px !important;
	background: transparent !important;
}

