@import 'app/scss/vars/colors.scss';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-AppColor: (
  50:  #{ $AppColor } + 60,
  100: #{ $AppColor } + 50,
  200: #{ $AppColor } + 40,
  300: #{ $AppColor } + 30,
  400: #{ $AppColor } + 20,
  500: #{ $AppColor } + 10,
  600: $AppColor,
  700: #{ $AppColor } - 80,
  800: #{ $AppColor } - 90,
  900: #{ $AppColor } - 100,
  A100: #{ $AppColor } + 30,
  A200: #{ $AppColor } + 20,
  A400: #{ $AppColor } + 10,
  A700: $AppColor,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-AppColor); // $mat-indigo
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
