<div class="searchScreen">
  <div class="container searchScreen-container">
    <h1 class="page-title searchScreen-title"> Choose Ingredients & Search </h1>

    <app-search
      [page]="searchPage"
      [config]="searchComponentConfig"
      (onData)="handleOnData($event)"
    ></app-search>

    <!-- {{ pageWithDishes | json }} -->

    <h4
      *ngFor="let dish of pageWithDishes.elements"
    > {{ dish.name }} </h4>
  
    <app-pagination
      *ngIf="pageWithDishes.allNumber > 1"
      [number]="pageWithDishes.number"
      [allNumber]="pageWithDishes.allNumber"
      (numberChanged)="onPageChanged($event)"
    ></app-pagination>

  </div>
</div>

