@import '../../../scss/vars/colors.scss';
@import '../../../scss/4-entity-classes.scss';

.chip-list {
  width: 100%;
}

.searchScreen {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  overflow-y: auto;
  background: 
    url('../../../../assets/img/search-screen/light-amber-pattern.png')
    0px
    0px
    repeat;

  &-title {
    color: $greyDark;
  }
}
