@import 'assets/lib/bootstrap-grid.min.css';

@import 'app/scss/angular-material/app-color-theme.scss';

@import 'app/scss/perfect-scrollbar/resets.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
